* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #527dd2;
}

.title {

background-color: #e23030;
text-align: center;
font: arial;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #efe2e2;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}